<div class="container"> 
  <br><b>"Welcome <%= "#{username}" %>!"</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/logout"> <button value="submit"> Logout </button> </a>
</div>
<div class="container"> 
  <br><b>Round:</b> <%= @round %><br> <br>
  <% @card.each do |element| %>
  <form id= "question" action="/cards/<%= element.id %>/answer" method="post">
    <div class = "question">
      <b>Question:</b>&nbsp;<%= element.question %><br><br>
    </div>
    <b>Please enter your answer:</b>
    <input type="text" name="answer1">
    <input type="submit", value="Submit Your Answer">
  </form>
  <% end %>
</div>
        
<div id = "answer_space">
</div>

<script>
$(document).ready(function(){
  $("#question").submit(function(event){
    event.preventDefault(); //STOP default action
    var postData = $(this).serializeArray();
    var formURL = $(this).attr("action");
    $.ajax(
    {
        url : formURL,
        type: "POST",
        data : postData,
        success:function(result)
        {
          $("#answer_space").html(result);
          //debugger
            //data: return data from server
        },
        error: function(jqXHR, textStatus, errorThrown)
        {
          //debugger
            //if fails
        }
    });
    event.unbind(); //unbind. to stop multiple form submit.
  });
});
</script>