<div class="container">
  <% if login? %>
    <br><b>"Welcome <%= "#{username.camelize}" %>!"</b><br>
    <a href="/logout"> <button value="submit"> Logout </button> </a>
    <hr>
    <b> Let's start practising. Pick a Card.</b>
    <% @decks.each do |deck| %>
      <p><a href = "/decks/<%= deck.id %>"><%= deck.title %></a></p>
    <% end %>
    <div class = "display_result">
    </div>  
  <% else %>
    <form name = "firstname" form action="/login" method="post">
      Username: <input type="text" name="email"><br>
      Password: <input type="password" name="password">
      <input type="submit" value="Login">
      <input type="reset" value="Reset">
    </form>
    <br><a href ="/signup"> Register </a>
  <% end %>

  <script>
      $(document).ready(function()
        {
          $.ajax({
              url:'<%= "/result" %>',
              type: "GET",
              success:function(result)
              {
                $(".display_result").html(result);
                //debugger
                  //data: return data from server
              },
              error: function(jqXHR, textStatus, errorThrown)
              {
                //debugger
                  //if fails
              }
            });
        });

  </script>
</div>




